<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.njxz.lostandfound.mapper.MessageMapper">
  <resultMap id="BaseResultMap" type="edu.njxz.lostandfound.entity.Message">
    <id column="message_id" jdbcType="INTEGER" property="messageId" />
    <result column="message_description" jdbcType="VARCHAR" property="messageDescription" />
    <result column="message_userId" jdbcType="VARCHAR" property="messageUserid" />
    <result column="message_categotyId" jdbcType="INTEGER" property="messageCategotyid" />
    <result column="message_date" jdbcType="DATE" property="messageDate" />
    <result column="message_photo" jdbcType="VARCHAR" property="messagePhoto" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    message_id, message_description, message_userId, message_categotyId, message_date, 
    message_photo
  </sql>
  <select id="selectByExample" parameterType="edu.njxz.lostandfound.entity.MessageExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from lf_message
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from lf_message
    where message_id = #{messageId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from lf_message
    where message_id = #{messageId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="edu.njxz.lostandfound.entity.MessageExample">
    delete from lf_message
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="edu.njxz.lostandfound.entity.Message">
    insert into lf_message (message_id, message_description, message_userId, 
      message_categotyId, message_date, message_photo
      )
    values (#{messageId,jdbcType=INTEGER}, #{messageDescription,jdbcType=VARCHAR}, #{messageUserid,jdbcType=VARCHAR}, 
      #{messageCategotyid,jdbcType=INTEGER}, #{messageDate,jdbcType=DATE}, #{messagePhoto,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.njxz.lostandfound.entity.Message">
    insert into lf_message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="messageId != null">
        message_id,
      </if>
      <if test="messageDescription != null">
        message_description,
      </if>
      <if test="messageUserid != null">
        message_userId,
      </if>
      <if test="messageCategotyid != null">
        message_categotyId,
      </if>
      <if test="messageDate != null">
        message_date,
      </if>
      <if test="messagePhoto != null">
        message_photo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="messageId != null">
        #{messageId,jdbcType=INTEGER},
      </if>
      <if test="messageDescription != null">
        #{messageDescription,jdbcType=VARCHAR},
      </if>
      <if test="messageUserid != null">
        #{messageUserid,jdbcType=VARCHAR},
      </if>
      <if test="messageCategotyid != null">
        #{messageCategotyid,jdbcType=INTEGER},
      </if>
      <if test="messageDate != null">
        #{messageDate,jdbcType=DATE},
      </if>
      <if test="messagePhoto != null">
        #{messagePhoto,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="edu.njxz.lostandfound.entity.MessageExample" resultType="java.lang.Long">
    select count(*) from lf_message
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update lf_message
    <set>
      <if test="record.messageId != null">
        message_id = #{record.messageId,jdbcType=INTEGER},
      </if>
      <if test="record.messageDescription != null">
        message_description = #{record.messageDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.messageUserid != null">
        message_userId = #{record.messageUserid,jdbcType=VARCHAR},
      </if>
      <if test="record.messageCategotyid != null">
        message_categotyId = #{record.messageCategotyid,jdbcType=INTEGER},
      </if>
      <if test="record.messageDate != null">
        message_date = #{record.messageDate,jdbcType=DATE},
      </if>
      <if test="record.messagePhoto != null">
        message_photo = #{record.messagePhoto,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update lf_message
    set message_id = #{record.messageId,jdbcType=INTEGER},
      message_description = #{record.messageDescription,jdbcType=VARCHAR},
      message_userId = #{record.messageUserid,jdbcType=VARCHAR},
      message_categotyId = #{record.messageCategotyid,jdbcType=INTEGER},
      message_date = #{record.messageDate,jdbcType=DATE},
      message_photo = #{record.messagePhoto,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="edu.njxz.lostandfound.entity.Message">
    update lf_message
    <set>
      <if test="messageDescription != null">
        message_description = #{messageDescription,jdbcType=VARCHAR},
      </if>
      <if test="messageUserid != null">
        message_userId = #{messageUserid,jdbcType=VARCHAR},
      </if>
      <if test="messageCategotyid != null">
        message_categotyId = #{messageCategotyid,jdbcType=INTEGER},
      </if>
      <if test="messageDate != null">
        message_date = #{messageDate,jdbcType=DATE},
      </if>
      <if test="messagePhoto != null">
        message_photo = #{messagePhoto,jdbcType=VARCHAR},
      </if>
    </set>
    where message_id = #{messageId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.njxz.lostandfound.entity.Message">
    update lf_message
    set message_description = #{messageDescription,jdbcType=VARCHAR},
      message_userId = #{messageUserid,jdbcType=VARCHAR},
      message_categotyId = #{messageCategotyid,jdbcType=INTEGER},
      message_date = #{messageDate,jdbcType=DATE},
      message_photo = #{messagePhoto,jdbcType=VARCHAR}
    where message_id = #{messageId,jdbcType=INTEGER}
  </update>
  
  <select id="showAllMessage" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List"></include>
  	from lf_message 	
  </select>
  
</mapper>